
.Jumbo{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    justify-content: center;
    align-items: center;
    padding: auto;
    
    
}
.buttons{
    margin-top: .75rem;
    
    
}
a{
    margin-left: .2rem;
}